import requests
from bs4 import BeautifulSoup
from operator import itemgetter
import pandas
import seaborn
import matplotlib.pyplot as plt
page = requests.get( "https://kun.uz/ru/news/2022/05/16/deputaty-predlojili-vnesti-izmeneniya-i-dopolneniya-v-konstitutsiyu" )
soup = BeautifulSoup(page.text, 'html.parser')
data = soup.find_all('div', class_='single-content')
array_data = [ x.text.split() for x in data ]
clear_data = [ x for x in array_data[0] if x.isalpha() and len(x) > 5]
think_data = { x : clear_data.count(x) for x in clear_data }
sort = sorted( think_data.items(), key = itemgetter(1), reverse = True )
farmat = pandas.DataFrame( sort[0:20] )
visualization = farmat.rename( columns = { 0:'words', 1:'count' } )
seaborn.barplot( x = 'count', y = 'words', data = visualization )
plt.show()
